<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.cskt.domain.Comment">
    <!--@mbg.generated-->
    <!--@Table itrip_comment-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotelId" jdbcType="BIGINT" property="hotelid" />
    <result column="productId" jdbcType="BIGINT" property="productid" />
    <result column="orderId" jdbcType="BIGINT" property="orderid" />
    <result column="productType" jdbcType="INTEGER" property="producttype" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="isHavingImg" jdbcType="INTEGER" property="ishavingimg" />
    <result column="positionScore" jdbcType="INTEGER" property="positionscore" />
    <result column="facilitiesScore" jdbcType="INTEGER" property="facilitiesscore" />
    <result column="serviceScore" jdbcType="INTEGER" property="servicescore" />
    <result column="hygieneScore" jdbcType="INTEGER" property="hygienescore" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="tripMode" jdbcType="BIGINT" property="tripmode" />
    <result column="isOk" jdbcType="INTEGER" property="isok" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hotelId, productId, orderId, productType, content, userId, isHavingImg, positionScore, 
    facilitiesScore, serviceScore, hygieneScore, score, tripMode, isOk, creationDate, 
    createdBy, modifyDate, modifiedBy
  </sql>
</mapper>