<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.HotelMapper">
  <resultMap id="BaseResultMap" type="com.cskt.domain.Hotel">
    <!--@mbg.generated-->
    <!--@Table itrip_hotel-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotelName" jdbcType="VARCHAR" property="hotelname" />
    <result column="countryId" jdbcType="BIGINT" property="countryid" />
    <result column="provinceId" jdbcType="BIGINT" property="provinceid" />
    <result column="cityId" jdbcType="BIGINT" property="cityid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="details" jdbcType="LONGVARCHAR" property="details" />
    <result column="facilities" jdbcType="LONGVARCHAR" property="facilities" />
    <result column="hotelPolicy" jdbcType="LONGVARCHAR" property="hotelpolicy" />
    <result column="hotelType" jdbcType="INTEGER" property="hoteltype" />
    <result column="hotelLevel" jdbcType="INTEGER" property="hotellevel" />
    <result column="isGroupPurchase" jdbcType="INTEGER" property="isgrouppurchase" />
    <result column="redundantCityName" jdbcType="VARCHAR" property="redundantcityname" />
    <result column="redundantProvinceName" jdbcType="VARCHAR" property="redundantprovincename" />
    <result column="redundantCountryName" jdbcType="VARCHAR" property="redundantcountryname" />
    <result column="redundantHotelStore" jdbcType="INTEGER" property="redundanthotelstore" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hotelName, countryId, provinceId, cityId, address, details, facilities, hotelPolicy, 
    hotelType, hotelLevel, isGroupPurchase, redundantCityName, redundantProvinceName, 
    redundantCountryName, redundantHotelStore, creationDate, createdBy, modifyDate, modifiedBy
  </sql>
</mapper>